{% extends 'base.html' %}

{% block content %}
<div class="Tulisan">
    <div class="judul">
    <p>Hello! sekarang kita akan lebih mengenal.</p>
    </div>
<p class="indent">Saya adalah mahasiswa universitas padjadjaran teknik elektro angkatan 2024.Saya sangat suka belajar hal baru juga eksplore keindahan alam. Saya juga sangat suka berkenalan dengan orang baru</p>
<p class="indent">Jika ada yang ingin ditanyakan, silakan hubungi saya melalui halaman kontak. Berikut adalah beberapa foto saya yang diambil saat sedang beraktivitas dan berlatih.</p>
</div>
<div class="gallery">
    <div class="gallery-item">
        <img src="/static/image/Foto1.jpg" alt="Foto 1">
        <p>Hada sedang belajar Coding</p>
    </div>
    <div class="gallery-item">
        <img src="/static/image/Foto2.jpg" alt="Foto 2">
        <p>Desain UI di ketinggian</p>
    </div>
    <div class="gallery-item">
        <img src="/static/image/Foto4.jpg" alt="Foto 1">
        <p>eksplore alam indonesia</p>
    </div>
    <div class="gallery-item">
        <img src="/static/image/Foto3.jpg" alt="Foto 2">
        <p>Selfie</p>
    </div>
    <div class="gallery-item">
        <img src="/static/image/Foto5.jpg" alt="Foto 1">
        <p>Nongkrong di taman ITeBeh</p>
    </div>
    <div class="gallery-item">
        <img src="/static/image/Foto6.jpg" alt="Foto 2">
        <p>Suka menikmati masa senja</p>
    </div>
    <div class="gallery-item">
        <img src="/static/image/Foto7.jpg" alt="Foto 1">
        <p>Tidak lupa olahraga</p>
    </div>
    <div class="gallery-item">
        <img src="/static/image/Foto8.jpg" alt="Foto 2">
        <p>Tetap tunduk pada Yang Maha Kuasa</p>
    </div>
   
</div>
<audio id="myMusic" autoplay loop>
    <source src="static/music/lagu2.mp3" type="audio/mp3">
</audio>

{% endblock %}