{% extends 'base.html' %}

{% block content %}
<h1>Contact Me</h1>
<div class="sosmed-item">
    <img src="static/image/instagram.jpg" alt="Instagram" />
    <p><a href="http://instagram.com/hada_arj/">@hada_arj</a></p>
</div>
<div class="sosmed-item">
    <img src="static/image/WhatsApp.jpeg" alt="WhatsApp" />
    <p><a href="https://wa.me/qr/DWAS73JAEFQ4P1">+6282114077756</a></p>
</div>
<p>You can reach me at: <a href="/">hadaarjowonaja@gmail.com</a></p>
<audio id="myMusic" autoplay loop>
    <source src="static/music/lagu3.mp3" type="audio/mp3">
</audio>
{% endblock %}
