{% extends 'base.html' %}

{% block content %}
<div class="Tulisan">
    <div class="judulhome">
    <p>Selamat Datang di Website Resmi</p>
    </div>
<p class="indent">Saya adalah mahasiswa universitas padjadjaran teknik elektro angkatan 2024.Saya sangat suka belajar hal baru juga eksplore keindahan alam. Saya juga sangat suka berkenalan dengan orang baru</p>
<p class="indent">Jika ada yang ingin ditanyakan, silakan hubungi saya melalui halaman kontak. Berikut adalah beberapa foto saya yang diambil saat sedang beraktivitas dan berlatih.</p>
</div>
<div class="gallery">
    <div class="gallery-item">
        <img src="/static/image/Foto3.jpg" alt="Foto 1">
        <p>Random pict</p>
    </div>
</div>    
<audio id="myMusic" autoplay loop>
    <source src="static/music/lagu.mp3" type="audio/mp3">
</audio>
{% endblock %} 